{% extends 'substituter/base.html' %}

{% block content %}


  <section class="page-section bg-img" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h1 class="mb-2 text-uppercase text-white font-weight-bold"> Mentions légales </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" >
    <div class="container">
        <div class="col-lg-12 col-md-12 text-left">
          <h5>Notre hébergeur : <a href="https://www.heroku.com/">Heroku</a></h5>
          <h5>Notre thème : <a href="https://blackrockdigital.github.io/startbootstrap-creative/">Creative</a>, de <a href="https://startbootstrap.com/">Start Boostrap</a></h5>
          <h5>Photo de la page d'accueil : <a href="https://unsplash.com/@gregjeanneau">Greg Jeanneau sur Unsplash</a></h5>
          <h5>Icône de carotte : Fabien Jouin de <a href="https://thenounproject.com">Noun Project</a></h5>
          <h5>Autres icônes : <a href="https://icomoon.io">IconMoon</a> et <a href="https://fontawesome.com/">Font Awesome</a></h5>
          <h5>Images : <a href="https://fr.wikipedia.org/wiki/Ratatouille_(film)">Ratatouille (film d'animation de Disney-Pixar, 2007)</a></h5>
        </div>
    </div>
  </section>

  



{% endblock %}