{% extends 'substituter/base.html' %}

{% block content %}
  

<section class="page-section bg-img" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        {% if validlink %}
          <h1 class="mb-2 text-uppercase text-white font-weight-bold">Réinitialisation du mot de passe</h1>
          <form class="registration-form" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-primary" type="submit">Confirmer</button>
          </form>
        {% else %}
          <h3>
            Ce lien n'est plus valide. Il a peut-être été déjà utilisé par le passé.
            Veuillez renvoyer une nouvelle demande de réinitialisation.
          </h3>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}