{% extends 'substituter/base.html' %}

{% block content %}
<section class="page-section bg-img" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                 <h3>Un email a été envoyé à l'adresse indiquée. Si celle-ci correspond à un compte Pur-Beurre existant, vous y trouverez les instructions nécessaires à la réinitialisation du mot de passe.</h3>
            </div>
            <div class="col-lg-12 text-center">
                <h3>Si l'email ne vous est pas parvenu d'ici quelques minutes, vérifiez qu'il ne se situe pas dans les courriers indésirables. Si le problème persiste, renvoyez une nouvelle demande en vérifiant l'orthographe de l'adresse mail spécifiée.</h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}